# System files
# ------------
.directory

# VS Code config dir
# ------------------
.vscode

# Vim config files
# ----------------
.ycm_extra_conf.py

# Ignore tags
# -----------
tags

# build directory
# ---------------
build

# qmake user config
# -----------------
*.pro.user
.qmake.stash

# Jupyter notebook checkpoints
# ----------------------------
.ipynb_checkpoints
