# System files
# ------------
.directory

# VS Code config dir
# ------------------
.vscode

# Vim config files
# ----------------
.ycm_extra_conf.py

# Ignore tags
# -----------
tags

# build directory
# ---------------
build

# qmake user config
# -----------------
*.pro.user
.qmake.stash

# Jupyter notebook checkpoints
# ----------------------------
.ipynb_checkpoints

# Python cache
# ------------
__pycache__

# Wrapper binaries
c_legacy/wrapper/lib

# Python env
# ----------
.env
env

c_legacy/test
c_legacy/to_delete_later

# Cython wrapper
# --------------
c_legacy/wrapper/cython/*.so
c_legacy/wrapper/cython/source/*.c